<div class='stay-productive'>
    <div class='stay-productive-img'>
        <img
            src='/images/illustration-stay-productive.png'
            alt='stay productive illustration fylo'
        />
    </div>
    <div class='stay-productive-text'>
        <h2>Stay productive, wherever you are</h2>
        <p>
            Never let location be an issue when accessing your files. Fylo has
            you covered for all of your file storage needs.
        </p>
        <p>
            Securely share files and folders with friends, family and colleagues
            for live collaboration. No email attachments required.
        </p>
        <a href='#' class='external-link'>
            <span>See how Fylo Works</span>
            <img
                src='/images/icon-arrow.svg'
                alt='arrow icon for how it fylo works'
            />
        </a>
    </div>
</div>

<style>
    .stay-productive {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        padding: 40px 20px;
    }

    .stay-productive-text {
        color: var(--white);
    }

    h2 {
        font-size: 36px;
        max-width: 400px;
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        max-width: 550px;
        margin-bottom: 20px;
        line-height: 30px;
    }

    .external-link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
    }

    .external-link img {
        width: 20px;
    }

    a {
        color: var(--white);
    }

    a:hover {
        font-weight: 700;
    }

    @media (max-width: 991px) {
        .stay-productive {
            flex-direction: column;
        }

        .stay-productive-text {
            text-align: center;
        }

        h2 {
            max-width: fit-content;
        }

        .external-link {
            margin-top: 40px;
            justify-content: center;
        }
    }
</style>
