<section class='info-location'>
    <a href='/' class='logo-footer'>
        <img src='/images/logo.svg' alt="fylo's logo" />
    </a>
    <section class='location'>
        <img src='/images/icon-location.svg' alt="fylo's icon location" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua
        </p>
    </section>
</section>
<style>
    .info-location {
        color: var(--white);
        display: flex;
        flex-direction: column;
        max-width: 400px;
        gap: 1.7rem;
    }

    .logo-footer img {
        max-width: 150px;
    }

    .location {
        display: flex;
        align-items: flex-start;
        gap: 2rem;
    }

    .location img {
        max-width: 12px;
    }

    p {
        font-size: 16px;
        line-height: 23px;
        font-family: var(--fontOpenSans);
    }
</style>
